html, body {
    height: 100vh;
}

body {
    margin: 0;
}

#employee-add-success {
    display: none;
}

.flex-container {
    border: 1px solid black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.btn {
    margin: 10px;
}