table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: whitesmoke;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
}

tbody tr:hover {
    background-color: rgb(0, 0, 0, 0.04);
}

tr > td:first-child {
    width: 1%;
}

tr > td:nth-child(2) {
    font-weight: bold;
    text-align: right;
    width: 35%;
}

tr > td:nth-child(3) {
    text-align: right;
    width: 1%;
}

tr > td:nth-child(4) {
    margin: 0;
    padding: 0;
    width: 1%;
    text-align: center;
}

tr > td:nth-child(5) {
    text-align: left;
    width: 1%;
}

tr > td:nth-child(6) {
    font-weight: bold;
    text-align: left;
    width: 35%;
}

th, td {
    margin: 15px;
    padding: 15px;
}

td {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

tr:last-child > td {
    border: 0;
}