:root {
    --primary-color: #1a237e;
    --primary-color-light: #534bae;
    --primary-color-dark: #000051;
}

body {
    background-color: var(--primary-color);
    font-family: 'Mulish', Helvetica,  sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
}

nav {
    border-bottom: 1px solid white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: sidebar;
    /* background-color: #55d6aa; */
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    margin: 20px 0;
    flex-basis: 100px;
}

nav a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.container {
    /* background-color: pink; */
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". header ."
    "sidebar main ."
    "sidebar recent-results ."
    "sidebar footer .";
}

.header {
    grid-area: header;
    /* background-color: red; */
}

.main {
    grid-area: main;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main > h3 {
    color: black;
}



.recent-results {
    grid-area: recent-results;
    /* background-color: green; */
}

tbody tr:hover {
    background-color: rgb(0, 0, 0, 0.04);
}